@font-face {
    font-family: azoft;
    src: url(media/Fonts/Azoft.ttf);
}

@font-face {
    font-family: clearsans;
    src: url(media/Fonts/ClearSans.ttf);
}

@font-face {
    font-family: dejavu;
    src: url(media/Fonts/DejaVuSans.ttf);
}

@font-face {
    font-family: comicrlf;
    src: url(media/Fonts/ComicRelief.ttf);
}

body {
    background-image: url(media/Image/Plugin/file\ cover\ -\ 1.png);
    background-color: rgb(43, 43, 43);
    overflow-x: hidden;
}

header {
    text-align: center;
    color: aliceblue;
    background-color: rgb(80, 80, 80);
    font-size: 125%;
    font-family: clearsans;
    padding: 12px;
}

a {
    color: aliceblue;
    text-decoration: none;
    cursor: default;
}

a:hover {
    color: aliceblue;
    text-decoration: none;
    cursor: default;
}

.main {
    background-color: rgb(66, 66, 66);
    color: aliceblue;
    font-family: dejavu;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    padding: 7px;
}

.center {
    text-align: center;
    align-items: center;
}

#mainimg {
    width: 100%;
}

.ff1 {
    font-family: azoft;
}

.ff2 {
    font-family: clearsans;
}

.ff3 {
    font-family: dejavu;
}

.ff4 {
    font-family: comicrlf;
}

.katinfo {
    background-color: aliceblue;
    padding: 20px;
    font-family: clearsans;
}

.named {
    font-family: dejavu;
    margin-left: 420px;
    margin-top: -15px;
}

#katimg {
    width: 49.3%;
    margin-left: 52%;
    margin-top: -51px;
}

.about-left {
    width: 53%;
    margin-top: -615px;
    padding: 200px 0 200px 0;
    font-family: clearsans;
    font-size: 170%;
}

.left-name {
    font-family: comicrlf;
    font-size: 145%;
    margin-left: -3%;
    color: black;
}

.mrgtop {
    margin-top: 72px;
}

#silimg {
    width: 49.1%;
    margin-left: 0.1%;
    margin-top: -37px;
}

.about-right {
    width: 56%;
    margin-top: -615px;
    margin-left: 45%;
    padding: 200px 0 200px 0;
    font-family: clearsans;
    font-size: 170%;
}

.clrR {
    background-color: rgb(194, 159, 159);
}

.clrT {
    background-color: rgb(194, 173, 159);
}

.right-name {
    font-family: comicrlf;
    font-size: 145%;
    margin-left: 20%;
    margin-bottom: 5px;
    color: black;
}