.buttons{
    display: inline-flex;
    border: 1px solid #f00;
}

.buttons a{
    padding: 10px;
}

.buttons:hover a{
    opacity: .1;
}

.buttons a:hover{
    opacity: 1;
    background: #000;
    color: #fff;
}
